# Exclude versioning data
data/database/*
data/llm/*

# Exclude versioning logs
logs/frontend/*
logs/backend/*

# Exclude sensitive local files
docker/backend/.env
docker/database/.env
docker/.env

# Add exception for .gitkeep files to keep directory structure
!.gitkeep
